.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0rem;
    background-color: #e4e4e4;
    padding: 1rem 2rem;
    height: 4.5rem;
}

.main-header-primary-section a {
    font-size: 2.2rem;
    font-weight: 600;
    text-decoration: none;
    color: #4d55ff;
}

.main-header-secondary-section {
    letter-spacing: 0.05rem;
    font-size: 1rem;
}

.main-header-tertiary-section button {
    font-size: 1.5rem;
    font-weight: 500;
    width: 7rem;
    color: black;
    border: none;
    background-color: transparent;
    letter-spacing: 0.05rem;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    padding: 0.1rem;
}

.main-header-tertiary-section button:hover {
    border-bottom: 1px solid #4d55ff;
}

/** Media Query for small screen devices */
@media (max-width: 768px) {
    .main-header .main-header-primary-section {
        display: none;
    }
}